<html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h4>{{ message }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}


<h3>Regex</h3>
<form action="{{ url_for('monitoring.add_regex_local') }}" method="post">
    <input type="text" id="regex" name="regex"> <input type="submit" value="add">
</form>

<br>
<table border="1">
    <tr>
        <th><input type="checkbox"></th>
        <th>Regex</th>
    </tr>
    {% if regex %}
    {% for r in regex %}
    <tr>
        <td><input type="checkbox"></td>
        <td>{{ r }}</td>
    </tr>
    {% endfor %}
    {% endif %}

</table>

<br>
<input type="button" value="delete selected">

<br><br>
<h3>Monitoring Status</h3>
<form>
    <input type="submit" value="start" formaction="{{ url_for('monitoring.start_local') }}"> <input type="submit" value="stop" formaction="{{ url_for('monitoring.stop_local') }}"> Status: {{ status }}
</form>

<h3>Events</h3>
<table border="1">
    <tr>
        <th>Time</th>
        <th>Description</th>
    </tr>
{% if events %}
{% for e in events %}
    <tr>
        <td>{{ e.timestamp }}</td>
        <td>{{ e.description }}</td>
    </tr>
{% endfor %}
{% endif %}
</table>
</html>
