<!DOCTYPE html>
<html>
  <head lang="en">
    <title>CTF IDIOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var Load = React.createClass({

  // sets initial state
  getInitialState: function(){
    return {
	exploit:'',
  period:'',
	exploitList : [],
	exploitChoose:''
	 };
  },

  // sets state, triggers render method
  handleChange: function(event){
    this.setState({
	exploit : event.target.value,
	});
  },

  handleChangePeriod: function(event){
    this.setState({
  period : event.target.value,
  });
  },

  handleClick: function(event){
  const list = this.state.exploitList;
  var newExploit = {};
  newExploit.name=this.state.exploit;
  newExploit.status="NO INFO";
  newExploit.feedback="NO INFO";
  newExploit.period=this.state.period;
  list.push(newExploit);
  this.setState({
	exploitList:list
	});
  },

  handleSelect: function(event){
		this.setState({
		exploitChoose: event.target.value
		});
  },

 handleChoose: function(event){
   var link = "/exploit" + "/" + this.state.exploitChoose +"/"+ this.state.exploitChoose.period;
   axios.post(link)
 	  .then(function(res)
 		{
 		alert("starting/stopping exploit sucessfully");
    const list=this.state.exploitList;
    var i;
   	for(i=0; i< list.length ; i++){
         if(list[i].name==this.state.exploitChoose){
           list[i].status=list[i].status=="RUNNING" ? "STOP" :"RUNNING";
         }
    	}

    this.setState({
    	exploitList:list
    });

 		}.bind(this), function(error)
 		{
 		alert("starting/stopping exploit failed");
 		});

 },
 handleDelete: function(event){
   var link = "/exploit" + "/" + this.state.exploitChoose +"/"+ this.state.exploitChoose.period;
   axios.delete(link)
    .then(function(res)
    {
    alert("deleting exploit sucessfully");
    const list=this.state.exploitList;
    var i;
   	for(i=0; i< list.length ; i++){
         if(list[i].name==this.state.exploitChoose){
           list.splice(i,1);
         }
    	}
  this.setState({
    exploitList:list
  });
    }.bind(this), function(error)
    {
    alert("deleting exploit failed");
    });
 },

 handleImport: function(event){
   var link = "/exploitResult";
   axios.post(link)
    .then(function(res)
    {
      console.log(res);
    alert("importing exploit result sucessfully");
    const list=this.state.exploitList;
    var i;
     for(i=0; i< list.length ; i++){
       const name= list[i].name;
       list[i].feedback +=',';
       list[i].feedback += res.data[name];
     }
  this.setState({
    exploitList:list
  });
    }.bind(this), function(error)
    {
    alert("importing exploit result failed");
    });
 },

  render: function() {
        const list = this.state.exploitList.map(
	(exploit) =>
	<li key={exploit.name}>
	 {exploit.name.toUpperCase()}
  || PERIOD : {exploit.period}
	|| STATUS: {exploit.status}
	|| FEEDBACK:{exploit.feedback.toUpperCase()}
	</li>
	);
	const tmp=this.state.exploitList;
	let result=[];
	for(let i=0; i <tmp.length; i++){
	result.push(
	<option key={tmp[i].name} value={tmp[i].name}>{tmp[i].name}</option>
	);
	}

    return (
	<div>
	<h1>Load new exploit</h1>
    <div>
    <form>
      <div class="form-group">
        <label for="name" >Name</label>
        <br/>
        <input type="text" class="form-control" id="name" value={this.state.exploit} onChange={this.handleChange} placeholder="name your exploit" />
      </div>
      <div class="form-group">
        <label for="period">Period</label>
        <br/>
        <input type="text" class="form-control" id="period" value={this.state.period} onChange={this.handleChangePeriod} placeholder="period" />
      </div>
        <input type="button" onClick={this.handleClick} value="load" />
        </form>
      </div>

      <div class="form-group">
        <label for="selectExploit">Select Exploit to START/STOP/DELETE</label>
        <br/>
        <select multiple={true}  class="form-control" onChange={this.handleSelect}>
            {result}
        </select>
      </div>
        <input type="button" onClick={this.handleChoose} value="START/STOP" />
        <input type="button" onClick={this.handleDelete} value="DELETE" />
        <input type="button" onClick={this.handleImport} value="IMPORT RESULT"/>
      <div>
	       <ul>
           {list}
         </ul>
	    </div>
</div>
    )
  }

});
ReactDOM.render(
  React.createElement(Load, null),
  document.getElementById('content')
);
</script>
 </body>
</html>
